@use '../../../lib/button/variable';
@import '../../../lib/button/base.scss';
.button-base.button-secondary {
    width: fit-content;
    padding: .5em .8em;
    background-color: variable.$secondary-color;
    border: 1px solid variable.$secondary-color;
    transition: .3s;
}

.button-base.button-secondary:hover {
    background-color: variable.$secondary-color-hover;
    border: 1px solid variable.$secondary-color-hover;
    transition: .3s;
}

.button-base.button-secondary span {
    color: white;
    font-size: 1.6em;
}

.button-base.button-secondary:hover span {
    color: black;
    transition: .3s;
}