<mat-drawer-container [hasBackdrop]="hasBackDrop">
    <mat-drawer #drawer [mode]="mode" position="end">
        <app-end-sheet (refreshData)="handleRefreshEvent($event)"></app-end-sheet>
    </mat-drawer>
    <mat-drawer-content>
        <div class="app-home">
            <div class="app-navbar">
                <app-navbar (menuClicked)="handleMenuClickEvent($event)"></app-navbar>
            </div>
            <div class="app-container">
                <div class="app-container-left">
                    <app-left-side (showMenu)="handleMenuClickEvent($event)" [services]="services"
                        [serviceProviders]="serviceProviders" [cashiers]="cashiers"
                        [insurances]="insurances"></app-left-side>
                </div>
                <div class="app-container-right">
                    <app-right-side></app-right-side>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>