<div id="app-right-side">
    <div class="app-right-side-body">
        <div class="app-page-number">
            <span>1&#47;1</span>
        </div>
        <div class="app-logo">
            <div class="app-logo-wrapper">
                <img src="../../../../assets/images/logo.png" alt="Logo">
            </div>
        </div>
        <div class="app-main-title">
            <p>Ticket de prestation</p>
        </div>
        <div class="app-patient-info">
            <div class="app-patient-info-item">
                <div class="app-patient-info-wrapper">
                    <div class="app-patient-info-wrapper-key">
                        <span>ID Patient&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                    <div class="app-patient-info-wrapper-value">
                        <span>ID Ticket&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                </div>
            </div>
            <div class="app-patient-info-item">
                <div class="app-patient-info-wrapper">
                    <div class="app-patient-info-wrapper-key">
                        <span>Nom complet&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                    <div class="app-patient-info-wrapper-value">
                        <span>&Acirc;ge&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                </div>
            </div>
            <div class="app-patient-info-item">
                <div class="app-patient-info-wrapper">
                    <div class="app-patient-info-wrapper-key">
                        <span>Adresse&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                    <div class="app-patient-info-wrapper-value">
                        <span>T&eacute;l&eacute;phone&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                </div>
            </div>
            <div class="app-patient-info-item">
                <div class="app-patient-info-wrapper">
                    <div class="app-patient-info-wrapper-key">
                        <span>Type d&apos;assurance&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                    <div class="app-patient-info-wrapper-value">
                        <span>Cassier&#58;</span>
                        <span>&nbsp;</span>
                        <span>N/A</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-table-container"></div>
    </div>
    <div class="app-right-side-footer">
        <div class="app-footer-info"></div>
    </div>
</div>