@import './assets/scss/theme.scss';
* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
    background-color: #FFFDFB;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cur {
    cursor: pointer;
}

#app-root {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.app-home {
    width: 100%;
    overflow: auto;
}

.app-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 7em;
    border: 1px solid rgba($color: #000000, $alpha: 1.0);
}

.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100%;
    margin-top: 7em;
}

.app-container-left {
    width: 50%;
    height: auto;
}

.app-container-right {
    width: 50%;
}